.p{
    font-family: auto;
    font-size: 55px;
}

.u{
    letter-spacing: 5px;
    position: relative;
    top: -3vh;
}
.back{
    background-image: url(img/WhatsApp\ Image\ 2023-11-03\ at\ 11.11.25_45ea8135.jpg);
    
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.btn1{
    background-color: #9D2235;
    color: white;
}

.btn1:hover{
    background-color: rgb(58, 56, 56);
    color: #fff;
}
.group_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-indent: 20px;
    font-size: 50px;
    font-style: none;
    color: black
}
.kuchh-bhi{
    background-color: rgb(37, 35, 35);
    color: white;
}


.card1{
    background-image: url(img/dusra_kalu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.card2{
    background-image: url(img/disney.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; 
    width: 100%; 
}

.card3{
    background-image: url(img/mall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.card4{
    background-image: url(img/park.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

body{

    background-color: #fff;
}
.jake{
    font-family: 'bebas-neue',sans-serif;
    font-weight: 700;
}
